{
    "presets": [
        "@babel/env"
    ],
    "plugins": [
        "@babel/plugin-transform-parameters",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-typescript"
    ]
}